<div class="body">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="header">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="assets/logo.png" alt="Logo" class="logo">
        <span class="brand-name"><img src="assets/Logo2.png" style="width: 12rem;"></span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Acerca de mi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
              href="https://wa.me/+542995333687?text=Hola,%20estoy%20interesado%20en%20obtener%20más%20información"
              target="_blank">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="containers">
    <div class="content">
      <h1>¡Tranquilidad en el momento justo!</h1>
      <p>Nuestra responsabilidad y solvencia están aquí para brindarte la seguridad <br> que necesitas protegiendo lo
        que más
        valoras.</p>
    </div>
    <section class="imgcontent">
      <div class="button-container">
        <a (click)="scrollToSection('automotores')">
          <img
            src="https://cdn.icon-icons.com/icons2/4156/PNG/512/transportation_delivery_auto_automobile_travel_transport_vehicle_icon_261562.png"
            alt="Automotores">
          <span>Automotores</span>
        </a>
        <a (click)="scrollToSection('motos')">
          <img src="https://cdn-icons-png.flaticon.com/512/1048/1048323.png" alt="Motos">
          <span>Motos</span>
        </a>
        <a (click)="scrollToSection('hogar')">
          <img src="https://cdn.icon-icons.com/icons2/62/PNG/128/blue_home_house_12608.png" alt="Hogar">
          <span>Hogar</span>
        </a>
        <a (click)="scrollToSection('comercios')">
          <img
            src="https://cdn.icon-icons.com/icons2/3967/PNG/512/money_finance_credit_card_banking_commerce_payment_add_icon_251671.png"
            alt="Comercios">
          <span>Comercios</span>
        </a>
        <a (click)="scrollToSection('accidentes')">
          <img src="https://img.icons8.com/?size=512&id=7Roj4Mt18mIy&format=png" alt="Accidentes personales">
          <span>Accidentes personales</span>
        </a>
      </div>
    </section>
    <div class="waves">
      <div class="wave circulo a"></div>
      <div class="wave circulo b"></div>
      <div class="wave circulo c"></div>
    </div>
  </div>
  <div class="Empresas">
    <div class="empresas-container">
      <div class="empresa"><img
          src="https://th.bing.com/th/id/R.83c1dfc787510d00d638e4b3726a7089?rik=Jdp3zExSo2aO6g&riu=http%3a%2f%2fsegurosdg.com.ar%2fimg%2fempresas%2fsmg_logo.png&ehk=ReSnKQaq8hqGnw2NITLmSdSiHmiYhMD3XVk9np8YVYw%3d&risl=&pid=ImgRaw&r=0"
          alt="SMG Seguros"></div>
      <div class="empresa"><img
          src="https://i0.wp.com/c24n.com/wp-content/uploads/2021/04/IAPSER-Seguros-PNG.png?resize=640%2C276&ssl=1"
          alt="IAPSER"></div>
      <div class="empresa"><img src="https://servicios.mercantilandina.com.ar/sigmav3/common/images/Mercantil.png"
          alt="Mercantil Andina"></div>
      <div class="empresa"><img
          src="https://www.sancristobalseguros.com.uy/institucional/wp-content/uploads/2020/04/logo.png"
          alt="San Cristobal"></div>
      <div class="empresa"><img src="https://100seguro.com.ar/wp-content/uploads/2022/10/Logo_Orbis_Seguros.png"
          alt="Orbis"></div>
    </div>
  </div>
  <!-- Icono de WhatsApp -->
  <a href="https://wa.me/+542995333687?text=Hola,%20estoy%20interesado%20en%20obtener%20más%20información"
    id="whatsapp-icon" target="_top">
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 40 40" class="img">
      <path fill="#f2faff"
        d="M4.221,29.298l-0.104-0.181c-1.608-2.786-2.459-5.969-2.458-9.205 C1.663,9.76,9.926,1.5,20.078,1.5c4.926,0.002,9.553,1.919,13.03,5.399c3.477,3.48,5.392,8.107,5.392,13.028 c-0.005,10.153-8.268,18.414-18.42,18.414c-3.082-0.002-6.126-0.776-8.811-2.24l-0.174-0.096l-9.385,2.46L4.221,29.298z">
      </path>
      <path fill="#788b9c"
        d="M20.078,2L20.078,2c4.791,0.001,9.293,1.867,12.676,5.253C36.137,10.639,38,15.14,38,19.927 c-0.005,9.878-8.043,17.914-17.927,17.914c-2.991-0.001-5.952-0.755-8.564-2.18l-0.349-0.19l-0.384,0.101l-8.354,2.19 l2.226-8.131l0.11-0.403L4.55,28.867c-1.566-2.711-2.393-5.808-2.391-8.955C2.163,10.036,10.202,2,20.078,2 M20.078,1 C9.651,1,1.163,9.485,1.158,19.912c-0.002,3.333,0.869,6.588,2.525,9.455L1,39.169l10.03-2.63c2.763,1.507,5.875,2.3,9.042,2.302 h0.008c10.427,0,18.915-8.485,18.92-18.914c0-5.054-1.966-9.807-5.538-13.382C29.89,2.971,25.14,1.002,20.078,1L20.078,1z">
      </path>
      <path fill="#79ba7e"
        d="M19.995,35c-2.504-0.001-4.982-0.632-7.166-1.823l-1.433-0.782l-1.579,0.414l-3.241,0.85l0.83-3.03	l0.453-1.656L7,27.485c-1.309-2.267-2.001-4.858-2-7.492C5.004,11.726,11.732,5.001,19.998,5c4.011,0.001,7.779,1.563,10.61,4.397	C33.441,12.231,35,15.999,35,20.005C34.996,28.273,28.268,35,19.995,35z">
      </path>
      <path fill="#fff"
        d="M28.28,23.688c-0.45-0.224-2.66-1.313-3.071-1.462c-0.413-0.151-0.712-0.224-1.012,0.224	c-0.3,0.45-1.161,1.462-1.423,1.761c-0.262,0.3-0.524,0.337-0.974,0.113c-0.45-0.224-1.899-0.7-3.615-2.231	c-1.337-1.191-2.239-2.663-2.501-3.113c-0.262-0.45-0.029-0.693,0.197-0.917c0.202-0.202,0.45-0.525,0.674-0.787	c0.224-0.262,0.3-0.45,0.45-0.75c0.151-0.3,0.075-0.563-0.038-0.787c-0.113-0.224-1.012-2.437-1.387-3.336	c-0.364-0.876-0.736-0.757-1.012-0.771c-0.262-0.014-0.562-0.015-0.861-0.015c-0.3,0-0.787,0.113-1.198,0.563	c-0.411,0.45-1.573,1.537-1.573,3.749s1.611,4.35,1.835,4.649c0.224,0.3,3.169,4.839,7.68,6.786	c1.072,0.462,1.911,0.739,2.562,0.947c1.076,0.342,2.057,0.294,2.832,0.178c0.864-0.129,2.66-1.087,3.034-2.136	c0.375-1.049,0.375-1.95,0.262-2.136C29.03,24.025,28.731,23.912,28.28,23.688z">
      </path>
    </svg>
  </a>




  <!-- <div class="boxSection">
    <section id="automotores">
      <div class="card">
        <img src="URL_DE_LA_IMAGEN" alt="Automotores">
        <div class="card-info">
          <h2>Automotores</h2>
          <p>Información sobre seguros de automotores.</p>
        </div>
      </div>
    </section>
    <section id="motos">
      <div class="card">
        <img src="URL_DE_LA_IMAGEN" alt="Automotores">
        <div class="card-info">
          <h2>Automotores</h2>
          <p>Información sobre seguros de automotores.</p>
        </div>
      </div>
    </section>

    <section id="hogar">
      <div class="card">
        <img src="URL_DE_LA_IMAGEN" alt="Automotores">
        <div class="card-info">
          <h2>Automotores</h2>
          <p>Información sobre seguros de automotores.</p>
        </div>
      </div>
    </section>

    <section id="comercios">
      <div class="card">
        <img src="URL_DE_LA_IMAGEN" alt="Automotores">
        <div class="card-info">
          <h2>Automotores</h2>
          <p>Información sobre seguros de automotores.</p>
        </div>
      </div>
    </section>

    <section id="accidentes">
      <div class="card">
        <img src="URL_DE_LA_IMAGEN" alt="Automotores">
        <div class="card-info">
          <h2>Automotores</h2>
          <p>Información sobre seguros de automotores.</p>
        </div>
      </div>
    </section>
  </div>
  -->
  <footer class="text-center text-lg-start  text-muted " style="background-color:#619cdf8c;">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Podes encontrarnos en nuestras redes sociales:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="https://www.facebook.com/segurosenriquediaz/" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>

        <a href="https://www.instagram.com/segurosenriquediaz?igsh=YzdlY2ZxMjUxMjN1" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>

      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="  col-xl-3 mx-auto ">
            <div class="col-md-6 mb-4">

              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1554.2305387289316!2d-68.1432673!3d-38.8219001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960bb51e67ca5ea5%3A0x6b467ad2a2f2739b!2sSeguros%20Enrique%20Diaz!5e0!3m2!1ses-419!2sar!4v1712938320014!5m2!1ses-419!2sar"
                width="400" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contactos:
            </h6>
            <p><i class="fas fa-home me-3"></i>Honduras 1450 Centenario</p>
            <p>
              <i class="fas fa-envelope me-3"></i>enrique.diazseguros&#64;gmail.com

            </p>
            <p><i class="fas fa-phone me-3"></i>
              0299 533-3687</p>

          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color:#445f7d8c;">
      © 2024 Copyright:
      <a class="text-reset fw-bold" href="/">Seguros Enrique Diaz</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>